.maindiv{
    width: 100vw;
    height: 100vh;
}
.pages-div h1{
    text-align: center;
}
.form{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-inner{
    border: 2px solid #212529;
    padding: 30px 30px;
    width: 75%;
}
.form-contro{
    width: 50px;
}
.blogs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    margin: 10px 10px;
}
