<%- include('../partials/head'); %>
    <title>About.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="style/style.css" />
    </head>

    <body>
        <%- include('../partials/nav'); %>
            <div class="maindiv">
                <h2>Random About Me</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas quasi totam necessitatibus non
                    tempora quaerat voluptatem exercitationem excepturi, deserunt quas delectus eum unde quae nesciunt
                    ipsum reiciendis officiis minima. Nesciunt repellendus a dolorem possimus ratione, vitae
                    perspiciatis incidunt exercitationem culpa laboriosam, fuga officia nisi distinctio, nemo voluptatem
                    repudiandae sed est! Animi, tempora. Cupiditate, dolor rem? Velit doloremque ratione asperiores
                    nobis praesentium? Ipsa ad cumque ducimus labore totam! Animi autem cum beatae saepe ipsam id
                    corporis! Id, aliquid dolor ea praesentium porro voluptatibus beatae, quos ab soluta reiciendis est
                    iure ipsum ratione officia expedita. At modi tenetur ratione minima beatae repudiandae?</p>
                    <h5>Look at my git hub profile</h5>
                    <a href="https://github.com/RohitP2005">
                        <i class="fa-brands fa-github"></i>
                        <a href="https://github.com/RohitP2005">Click here to redirect</a>
                    </a>
            </div>
            <%- include('../partials/footer'); %>